<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="supported_protocols">http,ftp</entry>
	<entry key="max_threads">10</entry>
	<entry key="target_dir">/Users/hassan/Desktop/</entry>
    <entry key="http_connection_timeout">10</entry>
    <entry key="executor_timeout_value">6</entry>
    <entry key="executor_timeout_unit">days</entry>

</properties>
